* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font-family: Verdana;
  max-width: 900px;
  margin: auto;

  text-align: justify;
}
.HeaderContainer {
}

.SectionContainer {
  display: grid;
  background: #fff;
  padding: 15px;
  border: 1px solid #505050;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 15px;
}

a {
  padding-top: 1.5rem;
  display: flex;
  text-decoration: none;
  color: #505050;
}
